@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');

body {
    font-family: "Work Sans", Arial, sans-serif;
}

select, option {
    font-family: "Work Sans", Arial, sans-serif;
    font-size: 1.1em;
    padding: 0.25em;
}

button {
    font-family: "Work Sans", Arial, sans-serif;
    font-size: 1.1em;
    font-weight: normal;
    padding: 0.25em;
}

    button.highlight {
        background-color: #4589ff;
        color: #ffffff;
    }

header {
    z-index: 10;
}

main {
    margin: 0 -20px 0 -20px;
}

.mapContainer {
    height: 600px;
    margin: 0;
    position: relative;
    z-index: 1;
}

.mapSvgContainer {
    height: 600px;
    position: relative;
    overflow: hidden;
}

.mapInfoBox {
    width: 350px;
    height: 200px;
    margin: -200px 0 0 600px;
    background-color: #ffffff99;
    border: 1px solid #222222;
    position: relative;
    z-index: 1;
    font-size: 0.9em;
}
    .mapInfoBox table {
        margin: 10px;
        border-collapse: collapse;
        width: 330px;
    }

    .mapInfoBox table tr td {
        border-bottom: 1px solid #dddddd;
        padding: 0.25em;
    }

    .mapInfoBox table tr.big {
        font-size: 1.3em;
        font-weight: bold;
    }

    .mapInfoBox.visible {
        opacity: 1;
        transition: opacity 0.25s;
    }

    .mapInfoBox.hidden {
        opacity: 0;
        transition: opacity 0.5s;
    }

    .mapInfoBox .sourceCitation {
        margin: 20px 10px 10px 10px;
        font-size: 0.5em;
        color: #999999;
        position: absolute;
    }

.mapGuideText {
    width: 350px;
    height: 200px;
    margin: -200px 0px 0 600px;
    position: relative;
    z-index: 1;
    font-size: 1.5em;
    text-align: center;
    color: #666666;
}

    .mapGuideText.visible {
        opacity: 1;
        transition: opacity 0.25s;
    }

    .mapGuideText.hidden {
        opacity: 0;
        transition: opacity 0.5s;
    }

.mapLegend {
    height: 2em;
    width: 200px;
    margin: -575px 0 0 20px;
    clear: both;
    position: relative;
    z-index: 1;
}
    .mapLegend .legendItem {
        margin: 0.25em 1.5em 0.25em 0;
    }
        .mapLegend .legendItem .legendBox {
            height: 1em;
            width: 1em;
            margin: 0 0.25em 0 0;
            float: left;
            border: 1px solid #555;
        }

        .colorLevel0 {
            background-color: #DCE775;
        }

        .colorLevel1 {
            background-color: #FFEB3B;
        }

        .colorLevel2 {
            background-color: #FFB74D;
        }

        .colorLevel3 {
            background-color: #FFCDD2;
        }

        .colorLevel4 {
            background-color: #F48FB1;
        }

        .colorLevel5 {
            background-color: #AB47BC;
        }

.mapZoomBox {
    margin: -40px 0 0 20px;
    clear: both;
    position: relative;
    z-index: 1;
    display: none;
}

    .mapZoomBox button.zoomButton {
        padding: 8px;
        height: 44px;
    }

.svgMap {
    background-color: #ffffff;
}

/* SVG STYLES */
.neighborhoodBorder {
    stroke: #4589ff;
    fill: #ffffff00;
}

.neighborhoodName {
    font-size: 0.5em;
}

.defaultTract {
    stroke: #ffffff00;
    fill: #ECEFF1;
}

.hoverTract {
    stroke: #ffffff00;
    fill: #ffffff00;
    cursor: pointer;
    stroke-linejoin: round;
}

    .hoverTract.highlight {
        stroke: #ffffff55;
        stroke-width: 1px;
        fill: #ffffff88;
    }

    .hoverTract.active {
        stroke: #00000099;
        stroke-width: 2px;
        fill: #ffffff88;
    }

.tractUnemploymentLevel0 {
    stroke: #ffffff00;
    fill: #DCE775;
}

.tractUnemploymentLevel1 {
    stroke: #ffffff00;
    fill: #FFEB3B;
}

.tractUnemploymentLevel2 {
    stroke: #ffffff00;
    fill: #FFB74D;
}

.tractUnemploymentLevel3 {
    stroke: #ffffff00;
    fill: #FFCDD2;
}

.tractUnemploymentLevel4 {
    stroke: #ffffff00;
    fill: #F48FB1;
}

.tractUnemploymentLevel5 {
    stroke: #ffffff00;
    fill: #AB47BC;
}