@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');

body {
    width: 100%;
    font-family: "Work Sans", Arial, sans-serif;
    margin: 0;
    padding: 0;
}

select, option {
    font-family: "Work Sans", Arial, sans-serif;
    font-size: 1.1em;
    padding: 0.25em;
}

button {
    font-family: "Work Sans", Arial, sans-serif;
    font-size: 1.1em;
    font-weight: normal;
    padding: 0.25em;
}

    button.highlight {
        background-color: #4589ff;
        color: #ffffff;
    }

header {
    width: 100%;
    height: 80px;
    margin: 0;
    padding: 20px 0px 10px 0px;
    position: absolute;
    top: 0;
    z-index: 10;
    background: #ffffffaa;
}

    header h1 {
        margin: 0.5em 0 0.25em 0;
    }

    header section.mapFilter {
        width: 960px;
        margin: 0 auto;
    }

main {
    margin: 0 0;
    height: 100%;
    vertical-align: top;
    overflow: hidden;
}

.mapContainer {
    display: inline-block;
    position: absolute;
    width: 100%;
    margin: 0;
}

.mapSvgContainer {
    display: inline-block;
    height: auto;
    width: 100%;
    overflow: hidden;
    margin: 0 0 -10px 0;
}

    .mapSvgContainer .svg-content {
        background: #ECEFF1;
    }

.mapOverlays {
    width: 100%;
    top: 0;
    margin: 0;
}

.mapZoomBox {
    width: 44px;
    height: 88px;
    margin: 120px 20px 20px 20px;
    padding: 0;
    position: absolute;
    right: 0;
    float: right;
}
    .mapZoomBox button.zoomButton {
        padding: 8px;
        width: 44px;
        height: 44px;
        border: 1px solid #999999;
        color: #333333;
        cursor: pointer;
    }
    .mapZoomBox button.zoomButton:hover {
        padding: 8px;
        color: #000000;
        background: #dddddd;
    }

    .mapZoomBox button:first-child.zoomButton {
        border-bottom: none;
        border-radius: 2px 2px 0 0;
    }

    .mapZoomBox button:last-child.zoomButton {
        border-top: 1px solid #aaaaaa;
        border-radius: 0 0 2px 2px;
    }

.mapLegend {
    width: 200px;
    margin: -200px 20px 0 20px;
    padding: 10px;
    position: absolute;
    left: 0;
    z-index: 10;
    user-select: none;
    background-color: #ffffff99;
}
    .mapLegend .legendItem {
        margin: 0.25em 1.5em 0.25em 0;
    }
        .mapLegend .legendItem .legendBox {
            height: 1em;
            width: 1em;
            margin: 0 0.25em 0 0;
            float: left;
            border: 1px solid #555;
        }

.mapInfoBox {
    width: 350px;
    height: 200px;
    position: absolute;
    right: 0;
    margin: -220px 20px 0px 0px;
    background-color: #ffffffcc;
    border: 1px solid #222222;
    z-index: 1;
    font-size: 0.9em;
}
    .mapInfoBox table {
        margin: 10px;
        border-collapse: collapse;
        width: 330px;
    }

    .mapInfoBox table tr td {
        border-bottom: 1px solid #dddddd;
        padding: 0.25em;
    }

    .mapInfoBox table tr.big {
        font-size: 1.3em;
        font-weight: bold;
    }

    .mapInfoBox.visible {
        opacity: 1;
        transition: opacity 0.25s;
    }

    .mapInfoBox.hidden {
        opacity: 0;
        transition: opacity 0.5s;
    }

    .mapInfoBox .sourceCitation {
        margin: 20px 10px 10px 10px;
        font-size: 0.5em;
        color: #999999;
    }

.mapGuideText {
    width: 330px;
    height: 150px;
    margin: -200px 20px 40px 0px;
    position: absolute;
    right: 0;
    z-index: 1;
    font-size: 1.5em;
    color: #666666;
    background: #ffffffcc;
    user-select: none;
}
    .mapGuideText p {
        margin: 0;
        padding: 20px;
        user-select: none;
    }

    .mapGuideText.visible {
        opacity: 1;
        transition: opacity 0.25s;
    }

    .mapGuideText.hidden {
        opacity: 0;
        transition: opacity 0.5s;
    }

        .colorLevel0 {
            background-color: #f9fbe7;
        }

        .colorLevel1 {
            background-color: #fff59d;
        }

        .colorLevel2 {
            background-color: #ffb74d;
        }

        .colorLevel3 {
            background-color: #ef5350;
        }

        .colorLevel4 {
            background-color: #d81b60;
        }

        .colorLevel5 {
            background-color: #7b1fa2;
        }

.svgMap {
    background-color: #ffffff;
}

/* SVG STYLES */
.neighborhoodBorder {
    stroke: #4589ff;
    fill: #ffffff00;
}

.surroundingBorder {
    stroke: #aaaaaa;
    stroke-width: 0.5px;
    stroke-linejoin: round;
    fill: #ffffffff;
}

.neighborhoodName {
    /*font-size: 0.5em;*/
    text-color: white;
    text-shadow: 1px 1px 2px #ffffffbb;
}

.defaultTract {
    stroke: #ffffff00;
    fill: #CFD8DC;
}

.hoverTract {
    stroke: #ffffff00;
    fill: #ffffff00;
    cursor: pointer;
    stroke-linejoin: round;
}

    .hoverTract.highlight {
        stroke: #ffffff55;
        stroke-width: 1px;
        fill: #ffffff88;
    }

    .hoverTract.active {
        stroke: #00000099;
        stroke-width: 2px;
        fill: #ffffff88;
    }

.tractUnemploymentLevel0 {
    stroke: #ffffff00;
    fill: #f9fbe7;
}

.tractUnemploymentLevel1 {
    stroke: #ffffff00;
    fill: #fff59d;
}

.tractUnemploymentLevel2 {
    stroke: #ffffff00;
    fill: #ffb74d;
}

.tractUnemploymentLevel3 {
    stroke: #ffffff00;
    fill: #ef5350;
}

.tractUnemploymentLevel4 {
    stroke: #ffffff00;
    fill: #d81b60;
}

.tractUnemploymentLevel5 {
    stroke: #ffffff00;
    fill: #7b1fa2;
}

/* MOBILE VIEW */
@media only screen and (max-device-width:960px) {
    h1 {
        font-size: 3em;
    }

    select, option, button {
        width: 100%;
        font-size: 3em;
    }
    
    header {
        height: auto;
        position: relative;
        padding: 0 0 10px 0;
    }

    main {
        padding: 0;
    }

    .mapContainer {
    }

    .mapSvgContainer {
        height: auto !important;
    }

    .mapLegend {
        width: auto;
        margin: 20px 20px 0 20px;
        font-size: 1.7em;
    }

    .mapInfoBox {
        width: 65%;
        height: auto;
        margin: 20px 10px 0 0;
        float: right;
        font-size: 1.65em;
    }

        .mapInfoBox table {
            width: 100%;
        }

    .mapGuideText {
        width: 60%;
        height: 100px;
        float: right;
        text-align: left;
        font-size: 2em;
        left: 35%;
        margin: 20px 0 20px 0;
        position: absolute;
    }

    .mapZoomBox {
        width: 90px;
        margin: 10px 10px 0px 0;
        position: absolute;
    }

        .mapZoomBox button.zoomButton {
            padding: 8px;
            width: 88px;
            height: 88px;
        }
}